@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html{
    --rubro:#C52613;
    --negro: #000;

    font-size: 62.5%;
    font-family: 'inter';
}
*{
    padding: 0;
    margin: 0;

    color: #fff;
}

body{
    height: 100vh;  

    font-size: 16px;
    color: white;
}
.container{
    height: 100vh;
}